body{
    position: relative;
}
.ball{
    width: 20px;
    height: 20px;
    margin-left: 75px;
    margin-top: 75px;
    background-color: #fff;
    border-radius: 90%;
    animation: rotate 2s linear 3;
    position: absolute;
    z-index: 2;

}
@keyframes rotate {
    from {
        transform: translate(90px, 90px) rotate(0deg) translate(-90px, -90px) rotate(0deg)
    }
    to {
       transform: translate(90px, 90px) rotate(360deg) translate(-90px, -90px) rotate(-360deg)
    }
}