body,
header,
aside,
footer,
article{
    margin: 1%;
}
header{
    background-color: #000066;
    width:98%;
    height: 30px;
}
aside{
    width: 38%;
    float: left;
    background-color: #800080;
    height: 560px;
    min-width: 480px;
}
article{
    background-color: #008000;
    float: left;
    width: 58%;
    height: 560px;
    min-width: 560px;
}
footer{
    background-color: #0000ff;
    float: left;
    width: 98%;
    height: 30px;
}
